#upperBlock {
    position: relative;
    background-color: #00a884;
    height: 22%;
    width: 100%;
    z-index: -1;
}

#lowerBlock {
    position: relative;
    width: 100%;
    height: 78vh;
    /* top: 30%; */
    z-index: -1;
    display: flex;
    background-color: #111b21
}

#container{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 45%;
    right: 0px;

    margin: auto;

    height: fit-content;
    width: 45%;

    border-radius: 20pt;
    border: 1px;
    border-color: white;
    border-style: solid;
    background: rgb(236, 237, 237);
    box-shadow: 0 0 10px 0 black;

}

.row{
    margin: 15px;
}

.col-form-label{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register{
    text-align: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

input{
    margin-top: 10px;
}

.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.btn-success {
    background-color: #00a884;
    text-align: center;
    position: relative;
    left: 33.33%;
}
.btn-success:hover {
    background-color: #008c6e;
}

#logo {
    position: relative;
    left: 79%;
    top: 16%;
}