#right_screen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;

    padding: 0px;
}



#corrent_chat_name_area {
    height: 80px;
    align-items: center;
    display: flex;
    background-color: rgb(49, 49, 49);


}

#corrent_chat_name_area>img {
    border-radius: 50%;
    position: relative;
    width: 60px;
    height: 60px; 
    margin-left: 5px;
    bottom: 0px;
    top: 0px;
    margin-left: 15px;
    /* padding-left: 0px; */
}

#corrent_chat_name_area>.friend_name{
    font-size: x-large;
    text-align: left;
    margin-left: 15px;
    font-family: serif;
    color: rgb(223, 223, 223);

}

#chat_area {
    position: absolute;
    /* background: linear-gradient(to top, #020202 25%, #1d1d1d 50%, #1c1c1c 75%, #2e2e2e 100%); */
    background-color: rgb(42, 42, 42);
    /* background-color: wheat; */
    top: 80px;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.bubble{
    width: min-content;
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;

}

.bubble_first{
    margin-top: auto;
}

.bubble_left{
    background-color: aqua;

}

.bubble_right{
    float: right;
    background-color: firebrick;
}

.bubble_time {
    color: #dededead;
    font-size: small;
    margin-left: 1%;
    margin-right: 1%;
}

#input_area {
    position: absolute;
    background-color: rgb(42, 42, 42);   
    height: 50px;
    bottom: 0px;
    width: 100%;


}

#input_area>input{
    height: 80%;
    margin: 5px;
    width: 90%;
    border-radius: 15pt;
}

#input_area>button{
    margin: 5px;
    border-radius: 50%;
    /* margin-bottom: 10px; */
}









#left_screen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    padding: 0px;
    /* flex-flow: column; */

}



#my_name_area {
    background-color: rgb(9, 52, 43);
    height: 80px;
    align-items: center;
    display: flex;
    


}

#img_wrap {
    height: 80px;


}

#my_name_area>img {
    border-radius: 100%;
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    bottom: 0px;
    top: 0px;
}

#my_name{
    font-size: x-large;
    margin: 15px;
    font-family: Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: start;
    margin: 5%;
    color: rgb(223, 223, 223);
    font-family: serif;

}

#my_name_area>button{
    position: relative;
    float: right;
    margin-right: 10px;
    padding: auto;

    
}







#my_chats_area {
    position: absolute;
    background-color: rgb(9, 52, 43);
    z-index: -2;
    bottom: 0px;
    top: 80px;
    width: 100%;

}


.chat_tile{
    border: 2px;
    border-color: black;
    border-style: solid;

    background-color: rgb(49, 49, 49);

    height: 70px;
    width: 100%;

    position: relative;
    align-items: center;
    display: flex;
}

.chat_tile>img {
    border-radius: 100%;
    position: relative;
    width: 40px;
    height: 40px; 
    /* max-height: 60%; */
    margin-left: 5px;
    bottom: 0px;
    top: 0px;
    /* padding-left: 0px; */
}

.chat_tile>.friend_name{
    font-family: sans-serif;
    font-size: x-large;
    position: relative;
    text-align: start;
    margin-left: 5%;
    color: rgb(223, 223, 223);
    font-family: serif;

}

.chat_tile>.friend_time{
    width: min-content;
    font-size: x-small;
    color: #dededead;

    position: relative;
    /* float: right; */
    right: 0px;
    margin-right: 10px;
    padding: auto;

}












body {
    /* font-family: helvetica; */
    display: flex ;
    flex-direction: column;
    align-items: center;
  }
  
  .chat {
    width: 300px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 0.4%;
    /* margin-bottom: 5px; */
  }
  
  .mine     {
    align-items: flex-start;
  }
  
  .mine .message {
    color: rgb(255, 255, 255);
    /* margin-right: 25%; */
    background-color: #1e705e;
    position: relative;
    border-radius: 18pt;
    border-bottom-left-radius: 0px;
    margin-left: 0.5%;
    display: flex;
  }

  .mine .bubble_time {
    position: relative;
    font-size: x-small;
    top: 50%;
    margin-right: 10%;
}

.bubble_info {
    position: relative;
    color: white

}
  
  .yours {
    align-items: flex-end;
  }
  
  .yours .message {
    color: rgb(255, 255, 255);
    /* margin-left: 25%; */
    background: linear-gradient(to bottom, #818181 0%, #4e4e58 100%);
    background-attachment: fixed;
    position: relative;
    border-radius: 18pt;
    border-bottom-right-radius: 0px;
    margin-right: 0.5%;
    display: flex;
  }

.yours .bubble_time {
    position: relative;
    height: fit-content;
    width: fit-content;
    font-size: x-small;
    top: 50%;
    margin-left: 10%;
}
