img {
    object-fit: cover;
    border-radius: 50%;
    position: relative;

}




#right_screen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;

    padding: 0px;
}



#corrent_chat_name_area {
    height: 80px;
    align-items: center;
    display: flex;
    background-color: rgb(49, 49, 49);
    /* border-bottom-color: #b0b0b049;
    border: 1px;
    border-style: solid; */



}

#corrent_chat_name_area>img {
    
    width: 60px;
    height: 60px; 
    margin-left: 15px;
}

#corrent_chat_name_area>.friend_name{
    font-size: x-large;
    text-align: left;
    margin-left: 15px;
    font-family: serif;
    color: rgb(223, 223, 223);

}

#chat_area {
    position: absolute;
    /* background: linear-gradient(to top, #020202 25%, #1d1d1d 50%, #1c1c1c 75%, #2e2e2e 100%); */
    background-color: rgb(42, 42, 42);
    /* background-color: wheat; */
    top: 80px;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0.5px;
    border-style: solid;
    border-top-color: #b0b0b049;


}

.bubble{
    width: min-content;
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;

}

.bubble_first{
    margin-top: auto;
}

.bubble_left{
    background-color: aqua;

}

.bubble_right{
    float: right;
    background-color: firebrick;
}

.bubble_time {
    color: #dededead;
    font-size: small;
}

#input_area {
    position: absolute;
    background-color: rgb(42, 42, 42);   
    height: 50px;
    bottom: 0px;
    width: 100%;
}

#input_area>input{
    position: relative;
    height: 80%;
    margin: 5px;
    /* width: 90%; */
    border-radius: 15pt;
    /* left: 4%;     */
    /* display: inline; */

}

#input_area>button{
    /* position: relative; */
    border-radius: 50%;
    margin-bottom: 5px;
    background-color: rgba(168, 110, 219, 0.349);
    
    border: 1px;
    /* width: 10%; */
    border-color: #010202;
    border-style: solid;
    
    
}

#input_area>button:hover{

    background-color: rgba(104, 68, 136, 0.349);

  
    
}

#input_area>button:active{

    background-color: rgba(44, 28, 57, 0.349);
}








#left_screen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(49, 49, 49);
    /* background-color: #3d3f40; */
    border: 1.5px;
    border-style: solid;
    /* border-color: #b0b0b049; */
    border-right-color: #b0b0b049;
    border-bottom-color: #b0b0b049;
    z-index: -2;


    padding: 0px;
    /* flex-flow: column; */

}



#my_name_area {
    /* background-color: rgb(0, 101, 79); */
    height: 80px;
    align-items: center;
    display: flex;
    border: 1px;
    border-style: solid;
    border-bottom-color: #b0b0b049;

    


}

#img_wrap {
    height: 80px;


}

#my_name_area>img {
    border-radius: 100%;
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    bottom: 0px;
    top: 0px;
}

#my_name{
    font-size: x-large;
    margin: 15px;
    font-family: Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: start;
    margin: 5%;
    color: rgb(223, 223, 223);
    font-family: serif;

}

#my_name_area>button{
    position: relative;
    float: right;
    margin-right: 10px;
    padding: auto;

    
}

#my_chats_area {
    position: absolute;
    bottom: 0px;
    top: 80px;
    width: 100%;

}


.chat_tile{
    border: 1px;
    border-style: solid;
    border-color: #b0b0b049;
    /* border-radius: 6pt; */

    background-color: #111b21;

    height: 70px;
    width: 100%;

    position: relative;
    align-items: center;
    display: flex;
}

.chat_tile>img {
    border-radius: 100%;
    position: relative;
    width: 40px;
    height: 40px; 
    margin-left: 5px;
    bottom: 0px;
    top: 0px;
}

.chat_tile>.friend_name{
    font-family: sans-serif;
    font-size: x-large;
    position: relative;
    text-align: start;
    margin-left: 5%;
    color: rgb(223, 223, 223);
    font-family: serif;

}

.chat_tile>.friend_time{
    width: min-content;
    font-size: x-small;
    color: #dededead;

    position: relative;
    /* float: right; */
    right: 0px;
    margin-right: 10px;
    padding: auto;

}

.btn-dark {
    background-color: #f5f5f500;
    border: #f5f5f500;
}

.btn-dark:hover {
    background-color: #f5f5f500;
}












  
  .chat {
    width: 300px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  

  .message_row {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    padding: 10px;
    margin-top: 0.4%;
    width: fit-content;
    display: inline-block;
    /* flex-direction: column; */


  }
  
  
  .mine .message {
    color: rgb(255, 255, 255);
    background-color: #1e705e;
    position: relative;
    border-radius: 18pt;
    border-bottom-left-radius: 0px;
    margin-left: 0.5%;
    display: flex;
    width: fit-content;
    padding-right: 2%;

  }

  .mine .bubble_time {
    position: relative;
    font-size: x-small;
    margin-top: auto;
    width: fit-content;
    margin-right: 7px;
}
  
  .yours {
    align-items: flex-end;
  }
  
  .yours .message {
    color: rgb(255, 255, 255);
    /* margin-left: 25%; */
    background: linear-gradient(to bottom, #818181 0%, #4e4e58 100%);
    background-attachment: fixed;
    position: relative;
    border-radius: 18pt;
    border-bottom-right-radius: 0px;
    margin-right: 0.5%;
    display: flex;
    padding-left: 2%;
  }

.yours .bubble_time {
    position: relative;
    width: fit-content;
    font-size: x-small;
    margin-top: auto;
    margin-left: 7px;
}


.bubble_info{
    position:relative;
    height: fit-content;
    max-width: 400px;
    /* width: calc(); */
    /* white-space:nowrap; */
    /* max-width: 30vh; */
}

