#container{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    margin: auto;

    height: fit-content;
    width: 50%;

    border-radius: 20pt;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.row{
    margin: 15px;
}

.col-form-label{
    font-size: x-large;
    font-family: 'Gill Sans';
}

.to_center{
    text-align: center;
    font-family: 'Gill Sans';
}

input{
    margin-top: 10px;
}

.btn{
    font-family: 'Gill Sans';
}

.row>img {
    width: 200px;
}